/*=== BODY ===*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Amaranth', sans-serif;
	background-color: #111;
}
body h1 {
	color: #316C9E;
}


/*=== MENU ===*/
.menu {
	position: sticky;
	top: 0;
	z-index: 2;
	font-family: 'Rubik', sans-serif;
	background-color: #000000;
	box-shadow: 3px 18px 10px -20px rgba(48, 54, 219, 0.95);
}
.menu .logo {
	margin-left: 20px;
}

.menu ul {
	float: right;
	margin-right: 10px;
}

.menu ul li {
	display: inline-block;
	margin: 20px 15px;
}

.menu ul li a {
	font-size: 16px;
	padding: 8px 6px;
	text-decoration: none;
	color: #316C9E;
	font-weight: 700;
}

.menu ul li a:hover {
	color: rgba(255,211,81);
}

/*=== RESPONSIVE MENU ===*/
@media only screen and (max-width: 800px) {
	.hamburger {
		width: 20px;
		position: absolute;
		left: 15px;
		top:40px;
		transform: translateY(-50%);
	}
	.hamburger span {
		margin-bottom: 3px;
		background-color:#316C9E;
		display: block;
		height: 3px;
	}
	.menu .logo {
		margin-left: 50px;
	}
	
	.menu {
		top: 0;
		z-index: 2;
	}
	nav ul {
		z-index: 3;
		float: left;
		width: 180px;
		padding: 0;
		position: fixed;
		top: 0;
		bottom: 0;
		background-color: rgba(6, 8, 16);
		margin: 0;
		padding-top: 60px;
		transition: .5s;
		left: -100%;
		box-shadow: 1px 20px 40px -20px rgba(48, 85, 219, 0.95);
	}

	.open {
		left: 0;
	}

	.menu ul li{
		display: block;
		float: none;
	}
	.menu ul li a {
		padding: 10px 40px;
	}

	.close {
		display: block;
		position: absolute;
		width: 50px;
		height: 50px;
		right: 100px;
		top: 15px;
		color: rgba(255,211,81);
		text-shadow: 1px 20px 40px -20px rgba(249, 188, 5, 0.8);
		font-size: 25px;
		cursor: pointer;
	}
	body p {
		font-size: 12px;
	}
}

/*=== HERO ===*/
.hero {
	width: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	background-color: #111;
	color: #316C9E;
	padding: 40px 50px;
	justify-content: center;
}

.hero .hero-content {
	width: 100%;
	padding: .5rem;
	display: grid;
	grid-template-columns:repeat(auto-fit, minmax(150px, 1fr));
}

.hero .hero-content .hero-left {
	position: relative;
	top: 10%;
	margin-bottom: 25px;
	align-self: left;
}

.hero .hero-content .hero-right {
	position: relative;
	top: 10%;
	width: 50%;
	align-self: left;
	margin-left: 10px;
}

.hero h1 {
	font-family: 'Amaranth', sans-serif;
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 0;
}

.hero p {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	margin-bottom: 50px;
	margin-right: 20px;
}

/*=== BOTONES ===*/
.btn {
	font-family: 'Rubik', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color: rgba(255,211,81,0.8);
	border: 2px solid rgba(255,211,81,0.8);
	border-radius: 10px;
	padding: 20px 30px;
	position: absolute;
	overflow: hidden;
	transition: color 1s;
	z-index: 1;
}

.btn:hover {
	color: #316C9E;
}

.btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: -30px;
	width: 0;
	height: 100%;
	background-color: rgba(255,211,81);
	transform: skew(35deg);
	z-index: -1;
	transition: width .5s;
}

.btn:hover::before { 
	width: 130%;
}

/*=== FIRST-SECTION ===*/
.about {
	background-color: rgba(0,0,0,0.5);
	color: #316C9E;
	text-align: center;
	box-shadow: 0 1px 2px #ddd;
	border: 1px solid rgba(255,211,81,0.8);
	border-radius: 20px;
	padding: 20px 30px;
	margin: 30px 50px;
	box-shadow: 1px 10px 40px -20px rgba(255,211,81,0.9) ;
	/*box-shadow: 1px 20px 40px -20px rgba(48, 85, 219, 0.95);*/
}

.about p {
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
}


/*=== ICONS TECH ===*/
.skills {
	display:inline-flex;
	background-color: #fff;
	padding: 5px 5px;
	margin: 0 10px;
	border-radius: 5px;
}

/*=== GENERAL CLASS ===*/
.center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	min-width: 200px;
}

.content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	min-width: 200px;
}

.title {
	padding: 20px 20px;
}

.row {	
	display: flex;
	justify-content: flex;
	flex-direction: row;
	min-width: 250px;
}

.yellow {
	font-family: 'Rubik', sans-serif;
	color: rgba(255,211,81);
	text-decoration: none;
	font-weight: 600;
}

.padded {
	padding: 50px 80px;
}

.vert-pad {
	padding: 20px 0;
}

/*=== PORTAFOLIO ===*/
.card {
	background-color: rgba(0,0,0,0.5);
	color: #316C9E;
	box-shadow: 0 1px 2px #ddd;
	border: 1px solid rgba(255,211,81,0.8);
	border-radius: 20px;
	padding: 20px 30px;
	transition: .4s all ease-in-out;
}

.card:hover {
	box-shadow: 0 20px 40px -20px rgba(78, 114, 223, 0.5);
	border: 1px solid #316C9E;
	transform: scale3d(1.2);
}
.card p {
	font-family: 'Rubik', sans-serif;
}

.third {
	width: 300px;
	margin: 20px;
}
/*=== CONTACTO ===*/
.contact {
	width: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	background-color: #111;
	padding: 20px 50px;
	justify-content: center;
}

.contact p {
	font-family: 'Rubik', sans-serif;
}

.contact .contact-content {
	width: 100%;
	display: grid;
	grid-template-columns:repeat(auto-fit, minmax(150px, 1fr));
}

.contact .contact-content .contact-left {
	position: relative;
	color: #316C9E;
	top: 0;
	width: 50%;
	align-self: center;
}

.contact .contact-content .contact-right {
	position: relative;
	top: 5%;
	width: 50%;
	align-self: center;
}

.contact-form input {
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
	color: #fff;
	background-color: #333;  
	border: none;
	height: 30px;
	padding: 5px 10px;
	margin-bottom:15px;
	border-radius: 5px;
	width: 100%;
}

.contact-form textarea {
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
	color: #fff;
	background-color: #333;  
	border: none;
	height: 100px;
	padding: 15px 10px;
	resize: none;
	border-radius: 5px;
	margin-bottom:15px;
	width: 100%;
}

.contact-right button {
	position:relative;
	background-color: #111;
	border: 2px solid rgba(255,211,81,0.8);
}

.full-width {
	width: 100%;
}
/*=== FOOTER ===*/
.footer {
	padding: 80px 0 0 0;
	background-color: #000000;
	color: #fff;
	align-self: flex-end;
}

.social-links {
	margin-top: 20px;
	margin-bottom: 40px;
}

.social-links a {
	margin: 0 10px;
}

.social {
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
}

.made-with {
	padding: 0 30px;
	color: #222;
}

.bg {
	background-color: #111;
}
