{% extends 'base.html' %}

{% block title %}
	JoseValdebenito
{% endblock %}

{% block content %}
<div class='hero'>
	<div class='hero-content'>
		<div class='left'>
			<h1>Soy desarrollador</h1>
			<h1>José Valdebenito</h1>
			<p>Construyo aplicaciones en Python dinámicas utilizando bases de datos relacionales.</p>
			<a href='{{ url_for('portfolio.contact') }}' class='btn'>Contáctame</a>
		</div>
		<div class='right'>
			<img src='{{ url_for('static', filename='dev.png') }}' width=500px />
		</div>
	</div>
</div>
{% include 'portfolio/section-first.html' %}
{% endblock %}
