<div class='center padded'>
	<div class='content padded'>
		<div class='padded'>
			<h1>No estás convencido? mira lo que he construído!</h1>
		</div>
		<div class='row'>
			<div class='card third'>
				<h3>Mailer app</h3>
				<p>Una aplicación web que envía correos utilizando la API de Sendgrid.</p>
				<img src='{{ url_for('static', filename='Mailerapp.png') }}' width=350px />
				<br/>
				<a class='yellow' target='_blank' href='https://agile-beyond-66000.herokuapp.com/'>Link aquí</a>
			</div>
			<div class='card third'>
				<h3>Gestor de clientes</h3>
				<p> Una aplicación de escritorio con Tkinter para gestionar mis clientes.</p>
				<img src='{{ url_for('static', filename='libretaClientes.png') }}' width=350px />
				<br/>
				<a class='yellow' href='{{ url_for('static', filename='libreta-clientes') }}'>Link aquí</a>
			</div>
			<div class='card third'>
				<h3>Gestor de tareas</h3>
				<p>Una aplicación de escritorio con Tkinter para gestionar mis tareas</p>
				<img src='{{ url_for('static', filename='todoList.png') }}' width=350px />
				<br/>
				<a class='yellow' href='{{ url_for('static', filename='gestorTareas') }}'>Link aquí</a>
			</div>
		</div>
	</div>
</div>
